header {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;

  ul {
    margin: 0;
    li {
      list-style-type: none;
      padding: 0 20px;
      a {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        text-transform: capitalize;
        text-decoration: none;
        color: #4f4f4f;
        padding-bottom: 10px;
        cursor: pointer;
      }
      a:hover,
      .active {
        text-decoration: none;
        color: #4180fe;
        border-bottom: 3px solid #4180fe;
      }
    }
  }
}

button.logout {
  width: 90;
  margin-left: auto;
  margin-right: 5%;

  i {
    font-size: 20px;
  }
}

section.settings {
  width: 80%;
  margin: 75px auto 0;
  display: grid;
  grid-template-areas:
    "myButton1 adminList adminList adminList adminList"
    "myButton2 adminList adminList adminList adminList";
  grid-column-gap: 0.5rem;
  grid-row-gap: 2rem;
}

div.admin-list {
  grid-area: adminList;
  h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #4f4f4f;
  }
  .dta-head {
    width: 100%;
    font-weight: 600;
    grid-template-columns: 30% 18% 40% 5%;
    margin-top: 0;
  }
  button.add-admin {
    font-weight: 500;
    font-size: 14px;
    background: #4180fe;
    border-radius: 16px;
    // box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.2);
  }
  .dta-body {
    width: 100%;
    grid-template-columns: 30% 18% 40% 5%;
    align-items: center;
    padding: 0 25px;
    span {
      padding: 20px 0;
    }
    button {
      border: none;
      background: transparent;
    }

    button:hover {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: #edf5fc;
    }
  }
  &__no-admin {
    font-weight: bold;
    color: #cccccc;
  }
}

button.button1 {
  grid-area: myButton1;
}

button.button2 {
  grid-area: myButton2;
}

button.settings-btn {
  width: 80%;
  font-weight: bold;
  font-size: 25px;
  background: #4180fe !important;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 41px 45px;
  margin: 0;

  span {
    font-weight: 500;
    font-size: 16px;
  }
}

.profile {
  padding: 4rem 2rem 2rem;
}

.profile__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #abb4bd;
}

.profile__input {
  border: 1px solid #8cb2fc;
  background-color: #ecf2fc;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  height: 48px;
  width: 100%;
  padding: 10px;
}

.assessment-pin {
  width: 90%;
  margin: 0 auto;
  color: #4f4f4f;
  &__title {
    font-size: 25px;
    line-height: 37px;
    text-transform: capitalize;
  }

  &__horizontal-rule {
    border: 1px dashed #c4c4c4;
  }

  &__pin-section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &__value {
    padding: 1rem;
  }
}

.assessment-result {
  width: 90%;
  margin: 0 auto;

  &__title {
    margin: 0;
  }

  &__result-table {
    width: 100%;
    border: 1px solid #c4c4c4;
    tr,
    th,
    td {
      border: 1px solid #c4c4c4;
    }

    th,
    td {
      padding: 0.8rem;
    }
  }
}

@media print {
  .d-print-none {
    display: none !important;
  }

  .assessment-pin, .assessment-result {
    width: 100%;
    &__value {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #333333;
      padding: 1rem;
    }
  }
  @page {
    size: landscape;
  }
}
