section.instruction {
  width: 80%;
  margin-block-start: 2rem !important;

  h3,
  h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;

    span {
      font-weight: 600;
      margin-inline-start: 0.5rem;
    }
  }

  h4 {
    span {
      font-size: 2.5rem;
    }
  }

  div.timer {
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-gap: 2px;
    h4 {
      font-weight: 600;
    }
    span {
      font-size: 2rem;
    }
  }

  > div.instruction {
    border: 2px solid #c4c4c4;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 2rem 10%;
    h4 {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
    }

    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      margin-block-end: 2rem;
    }

    > span {
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
      margin-block-end: 0.5rem;

      span {
        font-weight: normal;
        margin-inline-start: 0.5rem;
      }
    }

    button {
      // text-align: right;
      margin-block-start: 6rem;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff !important;
      border-radius: 0 !important;
      background: #4180fe !important;
    }
  }
}
