main {
  margin-block-start: 58px !important;
  display: flex;
  // margin-block-start: 4rem !important;

  section.student-credentials {
    position: fixed;
    margin-inline-start: 8%;
    margin-block-start: 46px;
    height: 50vh;
    background: #ffffff;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
    border-radius: 4px;
    // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    padding: 25px 20px 40px;

    h2 {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      text-transform: capitalize;
    }

    hr {
      border: 1px dashed #f1f1f1;
    }

    div.details {
      div {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-gap: 15px;
        align-items: center;
      }

      h3 {
        font-weight: bold;
        font-size: 10px;
        line-height: 15px;
        color: #333;
        // max-width: 22% !important;
        padding-inline-end: 0 !important;
      }

      h4 {
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        padding-inline-end: 0 !important;
        color: #333333;
      }
    }
    h5 {
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      margin: 0;
    }
  }

  section.question {
    margin-inline-start: 26%;

    h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      text-transform: uppercase;
      margin-block-end: 19px;

      span {
        font-weight: normal;
        margin-inline-start: 0.5rem;
        text-transform: capitalize;
      }
    }
    div.question-body {
      background: #ffffff;
      border: 1px solid #f1f1f1;
      box-sizing: border-box;
      border-radius: 4px;
      // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
      padding: 56px 5% 50px;
    }

    p {
      margin-block-end: 40px;
    }

    .ctrl-btn {
      margin-block-start: 50px;

      button {
        // text-align: right;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff !important;
        background: #4180fe;
        border-radius: 4px !important;
        padding: 1rem 4rem;
      }

      button:hover {
        color: #ffffff !important;
        background-color: #1e5edd;
      }

      button.prev {
        background: #ffffff;
        border: 1px solid #4180fe;
        color: #4180fe !important;
        box-sizing: border-box;
        border-radius: 4px;
      }

      button.prev:hover {
        color: #fff !important;
        background: #4180fe;
      }
    }

    .question-btn {
      button {
        width: 29px;
        height: 29px;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        background: #ffffff;
        border: 1px solid #c4c4c4;
        box-sizing: border-box;
        border-radius: 2px;
        margin-inline-end: 12px;
        margin-block-end: 12px;
        padding: 0;
      }
      button:last-child {
        margin-inline-end: 0;
      }

      button.answered {
        color: #ffffff;
        background: #4180fe;
        border-radius: 2px;
        border: none;
      }
    }
  }
}

// confirm-modal
div.confirm-modal {
  padding: 4rem 1rem 2rem;

  h2 {
    font-weight: 600;
    font-size: 23px;
    line-height: 37px;
    color: #034d79;

    text-transform: capitalize;
  }

  button {
    margin-block-start: 2rem;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff !important;
    background: #4180fe;
    border-radius: 4px !important;
    padding: .5rem 1rem;
  }
}

.image-cropper {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  overflow: hidden;
  width: 93px;
  height: 93px;
  margin-inline-end: 10px;

  img {
    max-width: 100%;
  }
}
