section.question {
  width: 90%;
  margin-block-start: 4rem !important;

  div.question {
    width: 80%;
    margin: auto;
    h3,
    h4 {
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      // color: #4f4f4f;
      text-transform: uppercase;

      span {
        font-weight: normal;
        margin-inline-start: 0.5rem;
      }
    }

    div.timer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      h4 {
        font-weight: 600;
      }
      span {
        font-size: 2rem;
      }
    }

    div.question-pane {
      border: 2px solid #c4c4c4;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 2rem 10%;
      h4 {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        text-transform: uppercase;
      }

      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        margin-block-end: 2rem;
      }

      button {
        // text-align: right;
        margin-block-start: 6rem;
        color: #fff !important;
        border-radius: 0 !important;
        background-color: #4180fe !important;
      }
    }
  }

  div.question-btn {
    button {
      width: 35px;
      height: 35px;
      border: 2px solid #c4c4c4;
      background-color: #fff;
      margin-inline-end: 0.5rem;
      margin-block-end: 0.5rem;
    }
    button:last-child {
      margin-inline-end: 0;
    }
    button.answered {
      color: #fff;
      background-color: #4180fe;
    }
  }

  div.credetials-pane {
    position: fixed;
    height: 50vh;
    width: 17%;
    margin-block-start: 42px;
    padding: 20px;
    border: 2px solid #c4c4c4;
    div.details {
      h4 {
        font-weight: 600;
      }
      h4,
      h5 {
        font-size: 12px;
        margin: 0;
      }

      div {
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        align-items: center;
      }
    }
  }

}

// confirm-modal
div.confirm-modal {
  padding: 4rem 1rem 2rem;

  h2 {
    font-weight: 600;
    font-size: 23px;
    line-height: 37px;
    color: #034D79;

    text-transform: capitalize;
  }

  button {
    margin-block-start: 2rem;
    font-size: 12px;
    color: #fff !important;
    border-radius: 0 !important;
    background-color: #4180fe !important;
  }
}