header {
  margin-block-start: 2rem;
  text-align: center;

  >div {
    border-radius: 15px;
    // padding: 1rem;
  }
  img {
    // margin-inline-end: 54px;
  }

  h1,
  h2 {
    font-weight: bold;
    color: #4f4f4f;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0;
  }

  h2 {
    text-transform: capitalize;
  }
}

footer {
  position: absolute;
  bottom: 2%;
  right: 10%;
  left: 10%;
  width: 80%;
  margin: auto;
  hr {
    border: 1px solid #c4c4c4;
  }

  h6 {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #4f4f4f;
  }
}


section.login {
  width: 95%;
  // min-height: 80vh;
  margin-block-start: 4rem !important;
  margin-block-end: 4rem !important;
  img {
    width: 60%;
  }

  form {
    background: #ffffff;
    // border: 1px solid #f1f1f1;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    padding: 58px 74px;
    color: #333333;
    // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      text-transform: capitalize;
    }

    label {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #abb4bd;
    }

    input[type="text"],
    input[type="password"] {
      border: 1px solid #8cb2fc;
      background-color: #ecf2fc;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 16px;
      line-height: 24px;
      color: #333333;
      height: 48px;
      padding: 10px;
    }

    input::placeholder {
      color: #333333;
    }

    input:focus {
      // opacity: 0.33;
    }

    input[type="submit"] {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
      padding: 10px;
      margin-block-start: 2.6rem;
      color: #ffffff;
      border: none;
      background: #4180FE;
      border-radius: 4px;
    }
  }
}
 .btn {
   border-radius: 0;
 }