// section.add-assessment {
//   width: 90%;
//   margin: 80px auto 2rem;
//   background: #ffffff;
//   box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
//   border-radius: 15px;
//   padding: 26px 10% 43px;

//   h3 {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 21px;
//     color: #4f4f4f;
//     margin-bottom: 34px;
//   }

//   input[type="submit"] {
//     text-align: center;
//     background: #4180fe;
//     border-radius: 4px;
//     border: none;
//     padding: 1rem 4.5rem;
//     font-weight: 600;
//     font-size: 14px;
//     line-height: 21px;
//     text-transform: uppercase;
//     color: #ffffff;
//   }

//   .form-section {
//     border: 1px solid #c4c4c4;
//     box-sizing: border-box;
//     border-radius: 15px;
//     padding: 22px 36px;
//     margin-bottom: 20px;

//     label {
//       font-weight: 500;
//       font-size: 14px;
//       line-height: 21px;
//       color: #333333;
//       margin: 0;
//     }
//     input,
//     select,
//     textarea {
//       // width: 100%;
//       font-size: 14px;
//       line-height: 21px;
//       color: #333333;
//       background: #ecf2fc;
//       border: 1px solid #c4c4c4;
//       box-sizing: border-box;
//       border-radius: 15px;
//       padding: 9px 15px;
//     }

//     ::placeholder {
//       font-size: 14px;
//       line-height: 21px;
//       /* identical to box height */
//       color: #4f4f4f;
//     }

//     input,
//     select {
//       height: 38px;
//     }

//     textarea {
//       width: 100%;
//       height: 123px;
//     }

//     legend {
//       font-weight: 500;
//       font-size: 14px;
//       line-height: 21px;
//       width: auto;
//       color: #c4c4c4;
//     }

//     .time-fieldset {
//       input {
//         width: 20%;
//         padding: 10px;
//       }

//       input.scnd {
//         margin-left: 0.7rem;
//       }

//       span {
//         font-weight: 500;
//         font-size: 10px;
//         line-height: 15px;
//         margin-left: 5px;
//         color: #aaa9a9;
//       }
//     }

//     .grid-group {
//       display: grid;
//       grid-template-columns: 0.4fr 1fr;
//     }

//     .grid-group-file {
//       display: grid;

//       span {
//         font-size: 10px;
//         color: #c4c4c4;
//       }
//     }
//   }

//   .course-details {
//     .data-col {
//       margin: 13px 0;
//     }
//   }

//   .question-form {
//     border: none;
//     padding: 0;

//     label {
//       color: #333333;
//       font-size: 1rem;
//       margin-bottom: 0.5rem;
//     }
//   }

//   .option-text {
//     width: 100%;
//   }

//   .btn-add-option::before {
//     content: "+";
//   }

//   .btn-add-option {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 50%;
//     box-sizing: border-box;
//     width: 16px;
//     height: 16px;
//     color: #ffffff;
//     background: #4180fe;
//     padding: 0;
//   }

//   .btn-upload {
//     font-weight: 600;
//     font-size: 12px;
//     line-height: 21px;
//     color: #ffffff;
//     background: #4180fe;
//     border-radius: 20px;
//   }

//   .optional {
//     font-size: 14px;
//     line-height: 21px;
//     color: #c4c4c4;
//   }

//   .ctrl-btn {
//     margin-top: 4rem;
//   }

//   .btn-action {
//     padding: 1rem 42px;
//   }
// }

// .question-link {
//   width: 90%;
//   margin: 0 auto 50px;

//   button:hover:not(.active) {
//     color: #4f4f4f !important;
//     border: 1px solid #c4c4c4 !important;
//     background: transparent !important;
//   }
// }

.new-assessment {
  background: #ffffff;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
  border-radius: 15px;

  width: 90%;
  margin: 4rem auto;
  padding: 25px 50px;

  &__fieldset {
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 22px 36px;
    margin-bottom: 3rem;
  }
  &__legend {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    width: auto;
    color: #c4c4c4;
  }

  &__time-input {
    background: #ecf2fc;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 15px;
    height: 38px;
    width: 15%;
    margin-right: 10px;
    padding: 0 10px;
  }

  &__time-label {
    margin-right: 1rem;
  }

  &__course-input {
    width: 100%;
    background: #ecf2fc;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 2rem;
  }
  textarea {
    height: 123px;
  }

  &__course-input--mark {
    width: 10%;
  }

  &__course-input:focus,
  &__time-input:focus,
  &__add-data:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &__label-hint {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #c4c4c4;
  }

  &__student-data {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  &__add-data {
    border: 0;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    color: white;
    background: #4180fe;
  }
  &__nav-ques {
    border: 0;
    font-size: 12px;
    color: #fff;
    background: #4180FE;
  }
}
